
<div class="painel">

  <div class="card">
    <img class="logo2" src="img/LOGO_COPCLUB_135x.webp" alt="logo" width="80px">
    <div class="iconredes">
      <p class=" textsomos"> Somos a COPCLUB  e trazemos para vocês os principais lançamentos com ampla
        disponibilidade
        e garantia de autenticidade.</p>
    </div>
    <div class="redes">
      <i class="fa-brands fa-facebook-square"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
  </div>

  <div class="card">
    <h3>INSTITUCIONAL</h3>
    <ul class="lista"  style="list-style: none;">
      <li> Quem Somos</li>
      <li> Nossas Lojas</li>
      <li> Política de Privacidade</li>
      <li>Política de reembolso</li>
      <li>Termos de serviço</li>
      <li> Politica de Envio</li>
    </ul>
  </div>

  <div class="card2">
     <h3>CONTATO</h3>
     <ul class="lista"  style="list-style: none;">
      <li> </li>Whatsapp
      +55 11 95454 5560
      <li>E-mail:
        copclub.br@gmail.com</li>
      <li>Segunda - Sexta
        08:00 - 20:00</li>
      <li>Sábado
        09:00 - 17:00</li>
    </ul>
  </div>

  <div class="card">
    <h3> FIQUE POR DENTRO </h3>
    <p></p>
    <h5>Receba as novas promoções e produtos.</h5>
    <p></p>
    <button> Se inscreva </button>

  </div>
</div>

