<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/footer.css">
</head>  
  

<footer>
    <div class="geral-container">
        <div class="container">

            <div class="row-footer">

                <div class="col-md-3 footer-col-item">
                    <span>PARTICIPANTES</span>
                    <nav>
                        <ul class = 'nav-list-footer'>
                            <li><a href="login">Login</a> </li>
                            <li><a href="cadastrar">Cadastre-se</a> </li>
                            <li><a href="central">Central de Ajuda</a> </li>
                            <li><a href="termos">Termos de Ajuda</a> </li>
                        </ul>
                    </nav>
                </div>
                
                <div class="col-md-3 footer-col-item">
                    <span>ORGANIZADORES</span>
                    <nav>
                        <ul class = 'nav-list-footer'>
                            <li><a href="plataformar">Plataforma</a> </li>
                            <li><a href="orcamento">Solicite um orçamento</a> </li>
                            <li><a href="suporte">Suporte</a> </li>
                            <li><a href="hub">HUB</a> </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-md-3 footer-col-item">
                    <span>EMPRESA</span>
                    <nav>
                        <ul class = 'nav-list-footer'>
                            <li><a href="quemsomos">Quem Somos</a> </li>
                            <li><a href="trabalheconosco">Trabalhe conosco</a> </li>
                            <li><a href="politica">Política de Privacidade</a> </li>
                        </ul>
                    </nav>
                </div>

            </div>

        </div>
        
    </div>

</footer>