  <link rel="stylesheet" href="stylesheets/header.css">
  
      <nav>
        <a class="logo"> <img src="img/LOGO_COPCLUB_135x.webp" alt="logo" width="100px"></a>
    

        <ul class="nav-list">
          <li><a href="home">Home</a></li>
          <li><a href="marcas">Marcas</a></li>
          <li><a href="roupas">Roupas</a></li>
          <li><a href="tenis">Tênis</a></li>
          <li><a href="acessorios">Acessórios</a></li>
        </ul>


      <div class="segundo">
        <div class="sale">
          <span class="iconify" data-icon="ps:sale-tag" style="color: #ff007d;" data-rotate="90deg"></span>
          <p></p>
        </div>
        
        <div class="box">
          <span class="iconify" data-icon="cil:magnifying-glass" style="color: white;" font-size="25px" ></span>
          <span class="iconify" data-icon="carbon:user-avatar-filled-alt" style="color: white;" font-size="25px"></span>
          <span class="iconify" data-icon="akar-icons:heart" style="color: white;" font-size="25px"></span>
          <span class="iconify" data-icon="akar-icons:shopping-bag" style="color: white;" font-size="25px"></span>
        </div>
      </div>

      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>

      </nav>   