<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/acessorios.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="stylesheets/footer.css">

    <style >
      @font-face {
        font-family: nunitosans;
        src: url(../public/stylesheets/nunito-sans-bold.ttf);
      }
    </style>

</head> 

<header>

<%- include('./partials/header') %>

</header>

<main>

    <section class="pagamento">
     
        <div class="pagamentoCartao">
    <img src="/img/Cartao.png" alt="" class="pgtoCartao">
        <p>10X SEM JUROS</p> 
        <p>Parcela Mínima R$ 60,00</p>
    </div>
    
    <div class="pix">
        <img src="/img/pix.png" alt="" class="pixLogo">
        <p>5% no Pix</p>
        <p>5% de desconto em compras no Pix</p>
    </div>
    
    <div class="troca">
        <img src="/img/troca.png" alt="" class="trocaProduto">
        <p>TROCA EM ATÉ 30 DIAS</p>
        <p>Troca garantida sem uso</p>
    </div>
    </section>
    
    <div class="container-acessorios">
        
        <h1>Acessórios</h1>
        <hr class="hr1">
       
    </div>
    
    <div class="produtosLinha1">
    
    <div class="produto1">
        <img id="produto1" src="img/produto1.png" alt="produto1" />
        <p>Boné Anti Social Club "The Forums" Preto/Branco</p>
    </div>
    
    <div class="produto2">
        <img id="produto2" src="img/produto2.png" alt="produto2" />
        <p>Isqueiro Zippo X Supreme "Logo" Vermelho</p>
    </div>
    
    <div class="produto3">
        <img id="produto3" src="img/produto3.png" alt="produto3" />
        <p>Bone 5 Panel Supreme "Washed Seersucker" Cinza</p>
    </div>
    </div>
    
    <div class="produtosLinha2">
    
    <div class="produto4">
        <img id="produto4" src="img/produto4.png" alt="produto4" />
        <p>Bucket Supreme X Stone Island Bege</p>
    </div>
    
    <div class="produto5">
        <img id="produto5" src="img/produto5.png" alt="produto5" />
        <p>Boné 6 Panel Anti Social Club "Kkoch" Preto</p>
    </div>
    
    <div class="produto6">
        <img id="produto6" src="img/produto6.png" alt="produto6" />
        <p>Meia Anti Social Club "Rich Italian" Branco</p>
    </div>
    
    </div>
    
</main>

<footer>

    <%- include('./partials/footer') %>
  
  </footer>
  
  <script src="mobile-NavBar.js"></script>
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  <script src="https://kit.fontawesome.com/bc8a819dc8.js" crossorigin="anonymous"></script>
  
  </body>
  

