<!-- container de busca -->

<!-- <section class="search container">
  <div class="row mb-5">
      <h2 style="position: absolute;display:none;">Procurar eventos</h2>
      <div class="search-box mx-auto">
          <div class="search-header">
              <div class="col-md-auto">
                  <div class="search-header-item">
                      <i class="demo-icon icon-icon_busca"></i>
                      <label for="search-term" class="hide">Procurar eventos</label>
                      <input class="m-0" id="search-term" name="Termo" placeholder="Procurar eventos..." type="text" value="">
                  </div>
              </div>
              <div class="col-md-auto">
                  <div class="search-header-item" data-show="search-location">
                      <i class="demo-icon icon-icon_location"></i>
                      <button id="btn-onde" class="arrow"><span>Todo o Brasil</span></button>
                  </div>
              </div>
              <div class="col-md-auto">
                  <div class="search-header-item" data-show="search-price">
                      <i class="demo-icon icon-icon_when"><img src="https://cdn.ticketagora.com.br/ticketagora/site/icons/etiqueta.jpg"></i>
                      <button id="btn-quanto" class="arrow"><span>Todos os preços</span></button>
                  </div>
              </div>
              <div class="col-md-auto">
                  <div class="search-header-item" data-show="search-date">
                      <i class="demo-icon icon-icon_when"></i>
                      <button id="btn-quando" class="arrow"><span>Todas as datas</span></button>
                  </div>
              </div>
              <div class="col-md-auto">
                  <div class="search-header-item" data-show="search-category">
                      <i class="demo-icon icon-icon_multi"></i>
                      <button id="btn-categorias" class="arrow"><span>Todas as modalidades</span></button>
                  </div>
              </div>
              <div class="col-md-auto">
                  <div class="search-header-item" data-show="search-order">
                      <i class="demo-icon icon-icon_when"><img src="https://cdn.ticketagora.com.br/ticketagora/site/icons/ordem.svg"></i>
                      <button id="btn-order" class="arrow"><span>Aleatório</span></button>
                  </div>
              </div>
              <div class="col-md-auto p-0">
                  <div class="search-header-item-procurar">
                      <button class="btn btn-default" id="button-search" style="">Procurar</button>
                  </div>
              </div>
          </div>

          <div class="row search-topic p-4 search-location">
              <div class="col-md-10">
                  <div class="row">
                      <div class="col-md-12">
                          <h3>Por localidade</h3>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-3 mb-3">
                          <label>Estado</label>
                          <select id="uf">
                              <option value="">Todos</option>
                                  <option value="AC">AC</option>
                                  <option value="AL">AL</option>
                                  <option value="AP">AP</option>
                                  <option value="AM">AM</option>
                                  <option value="BA">BA</option>
                                  <option value="CE">CE</option>
                                  <option value="DF">DF</option>
                                  <option value="ES">ES</option>
                                  <option value="GO">GO</option>
                                  <option value="MA">MA</option>
                                  <option value="MT">MT</option>
                                  <option value="MS">MS</option>
                                  <option value="MG" selected="">MG</option>
                                  <option value="PA">PA</option>
                                  <option value="PB">PB</option>
                                  <option value="PR">PR</option>
                                  <option value="PE">PE</option>
                                  <option value="PI">PI</option>
                                  <option value="RJ">RJ</option>
                                  <option value="RN">RN</option>
                                  <option value="RS">RS</option>
                                  <option value="RO">RO</option>
                                  <option value="RR">RR</option>
                                  <option value="SC">SC</option>
                                  <option value="SP">SP</option>
                                  <option value="SE">SE</option>
                                  <option value="TO">TO</option>
                          </select>
                      </div>
                      <div class="col-md-9 mb-3">
                          <label for="busca-cidade">Cidade</label>
                          <input type="text" id="busca-cidade" placeholder="Digite...">
                      </div>
                  </div>
              </div>
              <div class="col-md-2 text-center">
                  <label style="color: #999;">Confirme o local e avance ao filtro de valor</label>
                  <button id="ok-search-location" class="btn btn-sm btn-default">Avançar</button>
              </div>
          </div>

          <div class="row search-topic p-4 search-price">
              <div class="col-md-10">
                  <div class="row">
                      <div class="col-md-3 mb-3">
                          <h3>Opções de frete</h3>
                          <ul class="input-list">
                              <li>
                                  <div class="pure-checkbox">
                                      <input id="preco-frete" name="preco-frete" type="checkbox" value="true" data-icon="" data-name="Frete grátis">
                                      <label for="preco-frete">Frete grátis</label>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <div class="col-md-9 mb-3">
                          <h3>Por preço</h3>
                          <ul class="input-list">
                              <li>
                                  <div class="pure-radiobutton">
                                      <input id="preco-frete-0" data-de="0" data-ate="0" name="search-price" type="radio" class="radio" checked="checked">
                                      <label for="preco-frete-0">Todos os preços</label>
                                  </div>
                              </li>
                              <li>
                                  <div class="pure-radiobutton">
                                      <input id="preco-frete-2" data-de="0" data-ate="49.99" name="search-price" type="radio" class="radio">
                                      <label for="preco-frete-2">Até R$ 49,99</label>
                                  </div>
                              </li>
                              <li>
                                  <div class="pure-radiobutton">
                                      <input id="preco-frete-3" data-de="0" data-ate="89.99" name="search-price" type="radio" class="radio">
                                      <label for="preco-frete-3">Até R$ 89,99</label>
                                  </div>
                              </li>
                              <li>
                                  <div class="pure-radiobutton">
                                      <input id="preco-frete-4" data-de="90" data-ate="0" name="search-price" type="radio" class="radio">
                                      <label for="preco-frete-4">A partir de R$ 90,00</label>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 text-center">
                  <label style="color:#999;">Confirme o preço avance ao filtro de data</label>
                  <button id="ok-search-price" class="btn btn-sm btn-default">Avançar</button>
              </div>
          </div>

          <div class="row search-topic p-4 search-date">
              <div class="col-md-10">
                  <div class="row">
                      <div class="col-md-3 mb-3">
                          <h3>Por período</h3>
                          <ul class="input-list">
                              <li>
                                  <div class="pure-radiobutton">
                                      <input id="data-semana" value="1" name="search-data" type="radio" class="radio">
                                      <label for="data-semana">Esta semana</label>
                                  </div>
                              </li>

                              <li>
                                  <div class="pure-radiobutton">
                                      <input id="data-mes" value="2" name="search-data" type="radio" class="radio">
                                      <label for="data-mes">Este mês</label>
                                  </div>
                              </li>

                              <li>
                                  <div class="pure-radiobutton">
                                      <input id="data-3-meses" value="3" name="search-data" type="radio" class="radio">
                                      <label for="data-3-meses">Próximos 3 meses</label>
                                  </div>
                              </li>
                              <li>
                                  <div class="pure-radiobutton">
                                      <input id="data-6-meses" value="4" name="search-data" type="radio" class="radio">
                                      <label for="data-6-meses">Próximos 6 meses</label>
                                  </div>
                              </li>
                              <li>
                                  <div class="pure-radiobutton">
                                      <input id="data-indefinido" value="0" name="search-data" type="radio" class="radio" checked="checked">
                                      <label for="data-indefinido">Todos os períodos</label>
                                  </div>
                              </li>
                              <li>
                                  <div class="pure-radiobutton">
                                      <input id="data-realizados" value="5" name="search-data" type="radio" class="radio">
                                      <label for="data-realizados">Eventos já realizados</label>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <div class="col-md-4 mb-3 search-date-month">
                          <h3>Por mês</h3>
                          <select id="select-mes">
                              <option value="0" selected="">Todos os meses</option>
                                  <option value="1">janeiro</option>
                                  <option value="2">fevereiro</option>
                                  <option value="3">março</option>
                                  <option value="4">abril</option>
                                  <option value="5">maio</option>
                                  <option value="6">junho</option>
                                  <option value="7">julho</option>
                                  <option value="8">agosto</option>
                                  <option value="9">setembro</option>
                                  <option value="10">outubro</option>
                                  <option value="11">novembro</option>
                                  <option value="12">dezembro</option>
                          </select>
                      </div>
                      <div class="offset-1"></div>
                      <div class="col-md-4 mb-3">
                          <h3>Personalizado</h3>
                          <label for="inicio">De</label>
                          <input type="date" id="inicio">
                          <label for="fim">Até</label>
                          <input type="date" id="fim">
                      </div>
                  </div>
              </div>
              <div class="col-md-2 text-center">
                  <label style="color:#999;">Confirme a data avance ao filtro de modalidade</label>
                  <button id="ok-search-date" class="btn btn-sm btn-default">Avançar</button>
              </div>
          </div> -->

          <!-- <div class="row search-topic p-4 search-category">
              <div class="col-md-10 mb-3">
                  <div class="row">
                      <div class="col-md-12">
                          <h3>Selecione uma ou mais modalidades</h3>
                          <div class="panel-body">
                              <ul class="input-list" id="busca-modalidades">
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-corrida-de-rua" name="search-category-item" type="checkbox" value="1" data-icon="" data-class="icon-icon_corrida" data-name="Corrida-de-rua">
                                          <label for="categoria-corrida-de-rua">Corrida de rua</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-ciclismo" name="search-category-item" type="checkbox" value="4" data-icon="" data-class="icon-icon_bike" data-name="Ciclismo">
                                          <label for="categoria-ciclismo">Ciclismo</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-mtb" name="search-category-item" type="checkbox" value="5" data-icon="" data-class="icon-icon_mtb" data-name="Mountain-bike">
                                          <label for="categoria-mtb">Mountain bike</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-triathlon" name="search-category-item" type="checkbox" value="17" data-icon="" data-class="icon-icon_triathlon" data-name="Triathlon">
                                          <label for="categoria-triathlon">Triathlon</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-natacao" name="search-category-item" type="checkbox" value="20" data-icon="" data-class="icon-icon_travessia" data-name="Natacao">
                                          <label for="categoria-natacao">Natação</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-triathlon-brasil" name="search-category-item" type="checkbox" value="24" data-icon="" data-class="icon-icon_triathlon" data-name="Triathlon-Brasil">
                                          <label for="categoria-triathlon-brasil">Triathlon Brasil</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-uphill" name="search-category-item" type="checkbox" value="30" data-icon="" data-class="icon-icon_uphill" data-name="Uphill">
                                          <label for="categoria-uphill">Uphill</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-corrida-de-aventura" name="search-category-item" type="checkbox" value="29" data-icon="" data-class="icon-icon-corrida-aventura" data-name="Corrida-de-aventura">
                                          <label for="categoria-corrida-de-aventura">Corrida de aventura</label>
                                      </div>
                                  </li>
                                  
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-trail-run" name="search-category-item" type="checkbox" value="6" data-icon="" data-class="icon-icon_trail" data-name="Trail-run">
                                          <label for="categoria-trail-run">Trail run</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-caminhada" name="search-category-item" type="checkbox" value="3" data-icon="" data-class="icon-icon_caminhada" data-name="Caminhada">
                                          <label for="categoria-caminhada">Caminhada</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-corridas-virtuais" name="search-category-item" type="checkbox" value="19" data-icon="" data-class="icon-icon_virtual" data-name="Corridas-virtuais">
                                          <label for="categoria-corridas-virtuais">Corridas virtuais</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-night-run" name="search-category-item" type="checkbox" value="7" data-icon="" data-class="icon-icon_night-run" data-name="Night-run">
                                          <label for="categoria-night-run">Night run</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-so-mulheres" name="search-category-item" type="checkbox" value="8" data-icon="" data-class="icon-icon_fem" data-name="So-mulheres">
                                          <label for="categoria-so-mulheres">Só mulheres</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-kids" name="search-category-item" type="checkbox" value="2" data-icon="" data-class="icon-icon_kids" data-name="Kids">
                                          <label for="categoria-kids">Kids</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-grupos" name="search-category-item" type="checkbox" value="18" data-icon="" data-class="icon-icon_grupos" data-name="Grupos-e-assessorias">
                                          <label for="categoria-grupos">Grupos e assessorias</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-beach-tennis" name="search-category-item" type="checkbox" value="23" data-icon="" data-class="icon-icon_beach-tennis" data-name="Beach-tennis">
                                          <label for="categoria-beach-tennis">Beach Tennis</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-futevolei" name="search-category-item" type="checkbox" value="28" data-icon="" data-class="icon-icon_footvolley" data-name="futevolei">
                                          <label for="categoria-futevolei">Futevôlei</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="canoagem-vaa" name="search-category-item" type="checkbox" value="26" data-icon="" data-class="icon-icon_canoagem" data-name="canoagem-vaa">
                                          <label for="canoagem-vaa">Canoagem Va'a</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-praia" name="search-category-item" type="checkbox" value="9" data-icon="" data-class="icon-icon_praia" data-name="Praia">
                                          <label for="categoria-praia">Praia</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-circuito" name="search-category-item" type="checkbox" value="10" data-icon="" data-class="icon-icon_circuito" data-name="Circuito">
                                          <label for="categoria-circuito">Circuito</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="transporte-sua-bike" name="search-category-item" type="checkbox" value="27" data-icon="" data-class="icon-icon_transporte" data-name="transporte-sua-bike">
                                          <label for="transporte-sua-bike">Transporte Sua Bike</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-aprenda" name="search-category-item" type="checkbox" value="22" data-icon="" data-class="icon-icon_aprenda" data-name="Aprenda">
                                          <label for="categoria-aprenda">Aprenda</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-4k" name="search-category-item" type="checkbox" value="11" data-icon="" data-class="icon-icon_1a4" data-name="4K">
                                          <label for="categoria-4k">Até 4K</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-5k-10k" name="search-category-item" type="checkbox" value="12" data-icon="" data-class="icon-icon_5a10" data-name="5K-a-10K">
                                          <label for="categoria-5k-10k">De 5K a 10K</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-11k-20k" name="search-category-item" type="checkbox" value="13" data-icon="" data-class="icon-icon_11a20" data-name="11k-a-20K">
                                          <label for="categoria-11k-20k">De 11K a 20K</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-21k" name="search-category-item" type="checkbox" value="14" data-icon="" data-class="icon-icon_21" data-name="21K">
                                          <label for="categoria-21k">21K</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-42k" name="search-category-item" type="checkbox" value="15" data-icon="" data-class="icon-icon_42" data-name="42K">
                                          <label for="categoria-42k">42K</label>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="pure-checkbox">
                                          <input id="categoria-outros" name="search-category-item" type="checkbox" value="16" data-icon="" data-class="icon-icon_organizador" data-name="Outros">
                                          <label for="categoria-outros">Outros</label>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 text-center">
                  <label style="color:#999;">Confirme a(s) modalidade(as) e selecione a ordenação</label>
                  <button id="ok-search-category" class="btn btn-sm btn-default">Avançar</button>
              </div>
          </div>

          <div class="row search-topic p-4 search-order">
              <div class="col-md-10 mb-3">
                  <div class="row">
                      <div class="col-md-12">
                          <h3>Ordenar por</h3>
                          <div class="panel-body">
                              <select id="select-ordenacao" style="width: auto;">
                                  <option selected="" value="padrao">Selecione</option>
                                  <option value="1">Data de realização</option>
                                  <option value="0">Ordem Alfabética</option>
                              </select>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 text-center">
                  <label style="color:#999;">Confirme a ordenação e conclua sua pesquisa</label>
                  <button id="ok-search-order" class="btn btn-sm btn-default">Procurar</button>
              </div>
          </div>
      </div>
  </div>
  <section class="container">
      <div class="row mb-1" style="display:block;">
          <div class="col-md-12">
              <div class="search-categories mx-auto">
                  <div class="row mb-1">
                      <div class="col-md-12 text-center">
                          <h3 class="filtro-rapido">Filtro rápido</h3>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <nav id="categorias">
                              <i class="arrow left"></i>
                              <ul class="mb-2">
                                  <li>
                                      <data value="1">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_corrida" data-id="Corrida-de-rua"></i>Corrida de rua
                                      </data>
                                  </li>
                                  <li>
                                      <data value="4">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_ciclismo" data-id="Ciclismo"></i>Ciclismo
                                      </data>
                                  </li>
                                  <li>
                                      <data value="5">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_mtb" data-id="Mountain-bike"></i>Mountain Bike
                                      </data>
                                  </li>
                                  <li>
                                      <data value="17">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_triathlon" data-id="Triathlon"></i>Triathlon
                                      </data>
                                  </li>
                                  <li>
                                      <data value="20">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_travessia" data-id="Natacao"></i>Natação
                                      </data>
                                  </li>
                                  <li>
                                      <data value="24">
                                          <i style="font-size:45px;" class="btn btn-secondary mx-auto demo-icon icon-icon_cbtri" data-id="Triathlon-Brasil"></i>Triathlon Brasil
                                      </data>
                                  </li>
                                  <li>
                                      <data value="30">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_uphill" data-id="Uphill"></i>Uphill
                                      </data>
                                  </li>
                                  <li>
                                      <data value="29">
                                          <i style="font-size:45px" class="btn btn-secondary mx-auto demo-icon icon-icon-corrida-aventura" data-id="Corrida-de-aventura"></i>Corrida de aventura
                                      </data>
                                  </li>
                                  
                                  <li>
                                      <data value="6">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_trail" data-id="Trail-run"></i>Trail run
                                      </data>
                                  </li>
                                  <li>
                                      <data value="3">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_caminhada" data-id="Caminhada"></i>Caminhada
                                      </data>
                                  </li>
                                  <li>
                                      <data value="19">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_virtual" data-id="Corridas-virtuais"></i>Corridas virtuais
                                      </data>
                                  </li>
                                  <li>
                                      <data value="7">
                                          <i class="btn btn-secondary mx-auto demo-icon icon_night-run" data-id="Night-run"></i>Night run
                                      </data>
                                  </li>
                                  <li>
                                      <data value="8">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_mulheres" data-id="So-mulheres"></i>Só mulheres
                                      </data>
                                  </li>
                                  <li>
                                      <data value="2">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_kids" data-id="Kids"></i>Kids
                                      </data>
                                  </li>
                                  <li>
                                      <data value="18">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_grupos" data-id="Grupos-e-assessorias"></i>Grupos e assessorias
                                      </data>
                                  </li>
                                  <li>
                                      <data value="23">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_beach-tennis" data-id="Beach-tennis"></i>Beach Tennis
                                      </data>
                                  </li>
                                  <li>
                                      <data value="28">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_footvolley" data-id="futevolei"></i>Futevôlei
                                      </data>
                                  </li>
                                  <li>
                                      <data value="26">
                                          <i style="font-size:45px;" class="btn btn-secondary mx-auto demo-icon icon-icon_canoagem" data-id="canoagem-vaa"></i>Canoagem Va'a
                                      </data>
                                  </li>
                                  <li>
                                      <data value="9">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_praia" data-id="Praia"></i>Praia
                                      </data>
                                  </li>
                                  <li>
                                      <data value="10">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_circuito" data-id="Circuito"></i>Circuito
                                      </data>
                                  </li>
                                  <li>
                                      <data value="27">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_transporte" data-id="transporte-sua-bike"></i>Transporte Sua Bike
                                      </data>
                                  </li>
                                  <li>
                                      <data value="22">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_diploma" data-id="Aprenda"></i>Aprenda
                                      </data>
                                  </li>
                                  <li>
                                      <data value="11">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_dist1" data-id="4K"></i>Até 4K
                                      </data>
                                  </li>
                                  <li>
                                      <data value="12">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_dist2" data-id="5K-a-10K"></i>De 5K a 10K
                                      </data>
                                  </li>
                                  <li>
                                      <data value="13">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_dist3" data-id="11K-a-20K"></i>De 11K a 20K
                                      </data>
                                  </li>
                                  <li>
                                      <data value="14">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_21" data-id="21K"></i>21K
                                      </data>
                                  </li>
                                  <li>
                                      <data value="15">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_42" data-id="42K"></i>42K
                                      </data>
                                  </li>
                                  <li>
                                      <data value="16">
                                          <i class="btn btn-secondary mx-auto demo-icon icon-icon_gruposassessorias" data-id="Outros"></i>Outros
                                      </data>
                                  </li>
                              </ul>
                              <i class="arrow right"></i>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</section> -->