<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/estilohome.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="stylesheets/footer.css">

</head>

<header>

<%- include('./partials/header') %>

</header>

<main>

<div class="row-banner">
  <div class="col-md12">
    <img class="banner-hot" src="img\Testeira_Nova_Marca01.png" alt="">
  </div>
</div>



<section class="container guia-eventos active" data-id="Perto de você">
    <div class="row line-events">
                <article class="more-events-item more-events-effect0 m-3 mx-auto">
                    <header>
                            <h3 class="line-clamp">XTERRA TIRADENTES 20...</h3>
                    </header>

                    <div>
                        <a href="/e/xterra-tiradentes-2022-34170" title="XTERRA TIRADENTES 2022 ">
                            <picture>
                                    <img class="thumb-event" loading="lazy" src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/94WIXQCDFPLOASBRGTAMB41MRAEZD3BLXD6I5DSZ1W1AK7LQ89.png" data-src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/94WIXQCDFPLOASBRGTAMB41MRAEZD3BLXD6I5DSZ1W1AK7LQ89.png" alt="XTERRA TIRADENTES 2022 ">
                            </picture>
                        </a>
                        <div class="hover-see-more">
                            <div class="hover-see-more-background"></div>
                            <div class="heart-check-box">
                                <i class="demo-icon icon-icon_fav-no" onclick="javascript:addToFavoritesDesktop(34170)"></i>
                            </div>
                            <i data-toggle="modal" data-target="#modalSocial" class="demo-icon icon-icon_share share" aria-hidden="true" onclick="share('XTERRA TIRADENTES 2022 ', 'XTERRA TIRADENTES 2022 ', 'https://www.ticketsports.com.br/e/xterra-tiradentes-2022-34170', 'https://cdn.ticketagora.com.br/ticketagora/images/thumb/94WIXQCDFPLOASBRGTAMB41MRAEZD3BLXD6I5DSZ1W1AK7LQ89.png');"></i>
                            <a class="btn btn-default saibamais" href="/e/xterra-tiradentes-2022-34170" title="XTERRA TIRADENTES 2022 ">SAIBA MAIS</a>
                        </div>
                    </div>

                    <footer>
                        <div>
                            <i class="demo-icon icon-icon_organizador"></i>
                                    <a href="#" rel="author">X3M</a>

                        </div>

                        <div>
                            <i class="demo-icon icon-icon_calendar2"></i>
                                    <time datetime="2022-10-14">14 a 16/10/2022</time>
                        </div>

                        <div>
                            <i class="demo-icon icon-icon_location"></i>

                            <address>Tiradentes, MG</address>
                        </div>
                    </footer>
                    <input type="hidden" class="event-id" value="34170">
                </article>
                <article class="more-events-item more-events-effect1 m-3 mx-auto">
                    <header>
                            <h3 class="line-clamp">11ª CORRIDA DO CRUZE...</h3>
                    </header>

                    <div>
                        <a href="/e/11-corrida-do-cruzeiro-34095" title="11ª CORRIDA DO CRUZEIRO">
                            <picture>
                                    <img class="thumb-event" loading="lazy" src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/YR5QNM4QSMW9IOON6EOKUO921B5XYAC8ZC8B89O7LL1D8KHSNQ.png" data-src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/YR5QNM4QSMW9IOON6EOKUO921B5XYAC8ZC8B89O7LL1D8KHSNQ.png" alt="11ª CORRIDA DO CRUZEIRO">
                            </picture>
                        </a>
                        <div class="hover-see-more">
                            <div class="hover-see-more-background"></div>
                            <div class="heart-check-box">
                                <i class="demo-icon icon-icon_fav-no" onclick="javascript:addToFavoritesDesktop(34095)"></i>
                            </div>
                            <i data-toggle="modal" data-target="#modalSocial" class="demo-icon icon-icon_share share" aria-hidden="true" onclick="share('11ª CORRIDA DO CRUZEIRO', '11ª CORRIDA DO CRUZEIRO', 'https://www.ticketsports.com.br/e/11-corrida-do-cruzeiro-34095', 'https://cdn.ticketagora.com.br/ticketagora/images/thumb/YR5QNM4QSMW9IOON6EOKUO921B5XYAC8ZC8B89O7LL1D8KHSNQ.png');"></i>
                            <a class="btn btn-default saibamais" href="/e/11-corrida-do-cruzeiro-34095" title="11ª CORRIDA DO CRUZEIRO">SAIBA MAIS</a>
                        </div>
                    </div>

                    <footer>
                        <div>
                            <i class="demo-icon icon-icon_organizador"></i>
                                    <a href="#" rel="author">TBH Esportes</a>

                        </div>

                        <div>
                            <i class="demo-icon icon-icon_calendar2"></i>
                                <time datetime="2022-09-25">25/09/2022</time>
                        </div>

                        <div>
                            <i class="demo-icon icon-icon_location"></i>

                            <address>Belo Horizonte, MG</address>
                        </div>
                    </footer>
                    <input type="hidden" class="event-id" value="34095">
                </article>
                <article class="more-events-item more-events-effect0 m-3 mx-auto">
                    <header>
                            <h3 class="line-clamp">CORRIDA DA FORÇA AÉREA</h3>
                    </header>

                    <div>
                        <a href="/e/corrida-da-forca-aerea-34269" title="CORRIDA DA FORÇA AÉREA">
                            <picture>
                                    <img class="thumb-event" loading="lazy" src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/QZDXSAIRA92RS2TMOTIU7R86B43WHFFWLW7HCRO6NWYF4VU9RW.png" data-src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/QZDXSAIRA92RS2TMOTIU7R86B43WHFFWLW7HCRO6NWYF4VU9RW.png" alt="CORRIDA DA FORÇA AÉREA">
                            </picture>
                        </a>
                        <div class="hover-see-more">
                            <div class="hover-see-more-background"></div>
                            <div class="heart-check-box">
                                <i class="demo-icon icon-icon_fav-no" onclick="javascript:addToFavoritesDesktop(34269)"></i>
                            </div>
                            <i data-toggle="modal" data-target="#modalSocial" class="demo-icon icon-icon_share share" aria-hidden="true" onclick="share('CORRIDA DA FORÇA AÉREA', 'CORRIDA DA FORÇA AÉREA', 'https://www.ticketsports.com.br/e/corrida-da-forca-aerea-34269', 'https://cdn.ticketagora.com.br/ticketagora/images/thumb/QZDXSAIRA92RS2TMOTIU7R86B43WHFFWLW7HCRO6NWYF4VU9RW.png');"></i>
                            <a class="btn btn-default saibamais" href="/e/corrida-da-forca-aerea-34269" title="CORRIDA DA FORÇA AÉREA">SAIBA MAIS</a>
                        </div>
                    </div>

                    <footer>
                        <div>
                            <i class="demo-icon icon-icon_organizador"></i>
                                    <a href="#" rel="author">TBH Esportes</a>

                        </div>

                        <div>
                            <i class="demo-icon icon-icon_calendar2"></i>
                                <time datetime="2022-10-23">23/10/2022</time>
                        </div>

                        <div>
                            <i class="demo-icon icon-icon_location"></i>

                            <address>Belo Horizonte, MG</address>
                        </div>
                    </footer>
                    <input type="hidden" class="event-id" value="34269">
                </article>
                <article class="more-events-item more-events-effect1 m-3 mx-auto">
                    <header>
                            <h3 class="line-clamp">1ª CORRIDA DA ESPERA...</h3>
                    </header>

                    <div>
                        <a href="/e/1-corrida-da-esperanca-mario-penna-34187" title="1ª CORRIDA DA ESPERANÇA MÁRIO PENNA">
                            <picture>
                                    <img class="thumb-event" loading="lazy" src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/6RHN2C6OXSJAJ5V0YSU7CR8FITVFVUPSPBXU3LJF4H37DP4GSS.png" data-src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/6RHN2C6OXSJAJ5V0YSU7CR8FITVFVUPSPBXU3LJF4H37DP4GSS.png" alt="1ª CORRIDA DA ESPERANÇA MÁRIO PENNA">
                            </picture>
                        </a>
                        <div class="hover-see-more">
                            <div class="hover-see-more-background"></div>
                            <div class="heart-check-box">
                                <i class="demo-icon icon-icon_fav-no" onclick="javascript:addToFavoritesDesktop(34187)"></i>
                            </div>
                            <i data-toggle="modal" data-target="#modalSocial" class="demo-icon icon-icon_share share" aria-hidden="true" onclick="share('1ª CORRIDA DA ESPERANÇA MÁRIO PENNA', '1ª CORRIDA DA ESPERANÇA MÁRIO PENNA', 'https://www.ticketsports.com.br/e/1-corrida-da-esperanca-mario-penna-34187', 'https://cdn.ticketagora.com.br/ticketagora/images/thumb/6RHN2C6OXSJAJ5V0YSU7CR8FITVFVUPSPBXU3LJF4H37DP4GSS.png');"></i>
                            <a class="btn btn-default saibamais" href="/e/1-corrida-da-esperanca-mario-penna-34187" title="1ª CORRIDA DA ESPERANÇA MÁRIO PENNA">SAIBA MAIS</a>
                        </div>
                    </div>

                    <footer>
                        <div>
                            <i class="demo-icon icon-icon_organizador"></i>
                                    <a href="#" rel="author">TBH Esportes</a>

                        </div>

                        <div>
                            <i class="demo-icon icon-icon_calendar2"></i>
                                <time datetime="2022-10-01">01/10/2022</time>
                        </div>

                        <div>
                            <i class="demo-icon icon-icon_location"></i>

                            <address>Belo Horizonte, MG</address>
                        </div>
                    </footer>
                    <input type="hidden" class="event-id" value="34187">
                </article>
                <article class="more-events-item more-events-effect0 m-3 mx-auto">
                    <header>
                            <h3 class="line-clamp">EVOLUTION BOCAINA DE...</h3>
                    </header>

                    <div>
                        <a href="/e/evolution-bocaina-de-minas-challenge-yourself-34099" title="EVOLUTION BOCAINA DE MINAS - CHALLENGE YOURSELF ">
                            <picture>
                                    <img class="thumb-event" loading="lazy" src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/2E00WAA58ZQDFBVJJ2T5F957FQLTARIRUK8LWC3RCSVRMEYNVE.png" data-src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/2E00WAA58ZQDFBVJJ2T5F957FQLTARIRUK8LWC3RCSVRMEYNVE.png" alt="EVOLUTION BOCAINA DE MINAS - CHALLENGE YOURSELF ">
                            </picture>
                        </a>
                        <div class="hover-see-more">
                            <div class="hover-see-more-background"></div>
                            <div class="heart-check-box">
                                <i class="demo-icon icon-icon_fav-no" onclick="javascript:addToFavoritesDesktop(34099)"></i>
                            </div>
                            <i data-toggle="modal" data-target="#modalSocial" class="demo-icon icon-icon_share share" aria-hidden="true" onclick="share('EVOLUTION BOCAINA DE MINAS - CHALLENGE YOURSELF ', 'EVOLUTION BOCAINA DE MINAS - CHALLENGE YOURSELF ', 'https://www.ticketsports.com.br/e/evolution-bocaina-de-minas-challenge-yourself-34099', 'https://cdn.ticketagora.com.br/ticketagora/images/thumb/2E00WAA58ZQDFBVJJ2T5F957FQLTARIRUK8LWC3RCSVRMEYNVE.png');"></i>
                            <a class="btn btn-default saibamais" href="/e/evolution-bocaina-de-minas-challenge-yourself-34099" title="EVOLUTION BOCAINA DE MINAS - CHALLENGE YOURSELF ">SAIBA MAIS</a>
                        </div>
                    </div>

                    <footer>
                        <div>
                            <i class="demo-icon icon-icon_organizador"></i>
                                    <a href="#" rel="author">Equipe Evolution</a>

                        </div>

                        <div>
                            <i class="demo-icon icon-icon_calendar2"></i>
                                <time datetime="2022-10-08">08/10/2022</time>
                        </div>

                        <div>
                            <i class="demo-icon icon-icon_location"></i>

                            <address>Bocaina de Minas, MG</address>
                        </div>
                    </footer>
                    <input type="hidden" class="event-id" value="34099">
                </article>
                <article class="more-events-item more-events-effect1 m-3 mx-auto">
                    <header>
                            <h3 class="line-clamp">LIVE! RUN XP BELO HO...</h3>
                    </header>

                    <div>
                        <a href="/e/live-run-xp-belo-horizonte-33697" title="LIVE! RUN XP BELO HORIZONTE">
                            <picture>
                                    <img class="thumb-event" loading="lazy" src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/2SWBRLNIYJFEOU8SM6E1YSQWRE8JYNCF3TXXZVH0QYTOC9PY7X.png" data-src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/2SWBRLNIYJFEOU8SM6E1YSQWRE8JYNCF3TXXZVH0QYTOC9PY7X.png" alt="LIVE! RUN XP BELO HORIZONTE">
                            </picture>
                        </a>
                        <div class="hover-see-more">
                            <div class="hover-see-more-background"></div>
                            <div class="heart-check-box">
                                <i class="demo-icon icon-icon_fav-no" onclick="javascript:addToFavoritesDesktop(33697)"></i>
                            </div>
                            <i data-toggle="modal" data-target="#modalSocial" class="demo-icon icon-icon_share share" aria-hidden="true" onclick="share('LIVE! RUN XP BELO HORIZONTE', 'LIVE! RUN XP BELO HORIZONTE', 'https://www.ticketsports.com.br/e/live-run-xp-belo-horizonte-33697', 'https://cdn.ticketagora.com.br/ticketagora/images/thumb/2SWBRLNIYJFEOU8SM6E1YSQWRE8JYNCF3TXXZVH0QYTOC9PY7X.png');"></i>
                            <a class="btn btn-default saibamais" href="/e/live-run-xp-belo-horizonte-33697" title="LIVE! RUN XP BELO HORIZONTE">SAIBA MAIS</a>
                        </div>
                    </div>

                    <footer>
                        <div>
                            <i class="demo-icon icon-icon_organizador"></i>
                                    <a href="#" rel="author">LIVE!</a>

                        </div>

                        <div>
                            <i class="demo-icon icon-icon_calendar2"></i>
                                <time datetime="2022-10-16">16/10/2022</time>
                        </div>

                        <div>
                            <i class="demo-icon icon-icon_location"></i>

                            <address>Belo Horizonte, MG</address>
                        </div>
                    </footer>
                    <input type="hidden" class="event-id" value="33697">
                </article>
                <article class="more-events-item more-events-effect0 m-3 mx-auto">
                    <header>
                            <h3 class="line-clamp">ULTRA BROU CANASTRA ...</h3>
                    </header>

                    <div>
                        <a href="/e/ultra-brou-canastra-2023-34390" title="ULTRA BROU CANASTRA 2023">
                            <picture>
                                    <img class="thumb-event" loading="lazy" src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/LE6MA7EFTJO1TJJKYA3OKSQ8PM2R50XHT5U4EXHHTZ8COJZ7C6.png" data-src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/LE6MA7EFTJO1TJJKYA3OKSQ8PM2R50XHT5U4EXHHTZ8COJZ7C6.png" alt="ULTRA BROU CANASTRA 2023">
                            </picture>
                        </a>
                        <div class="hover-see-more">
                            <div class="hover-see-more-background"></div>
                            <div class="heart-check-box">
                                <i class="demo-icon icon-icon_fav-no" onclick="javascript:addToFavoritesDesktop(34390)"></i>
                            </div>
                            <i data-toggle="modal" data-target="#modalSocial" class="demo-icon icon-icon_share share" aria-hidden="true" onclick="share('ULTRA BROU CANASTRA 2023', 'ULTRA BROU CANASTRA 2023', 'https://www.ticketsports.com.br/e/ultra-brou-canastra-2023-34390', 'https://cdn.ticketagora.com.br/ticketagora/images/thumb/LE6MA7EFTJO1TJJKYA3OKSQ8PM2R50XHT5U4EXHHTZ8COJZ7C6.png');"></i>
                            <a class="btn btn-default saibamais" href="/e/ultra-brou-canastra-2023-34390" title="ULTRA BROU CANASTRA 2023">SAIBA MAIS</a>
                        </div>
                    </div>

                    <footer>
                        <div>
                            <i class="demo-icon icon-icon_organizador"></i>
                                    <a href="#" rel="author">BROU AVENTURAS</a>

                        </div>

                        <div>
                            <i class="demo-icon icon-icon_calendar2"></i>
                                <time datetime="2023-04-25">25/04/2023</time>
                        </div>

                        <div>
                            <i class="demo-icon icon-icon_location"></i>

                            <address>Delfinópolis, MG</address>
                        </div>
                    </footer>
                    <input type="hidden" class="event-id" value="34390">
                </article>
                <article class="more-events-item more-events-effect1 m-3 mx-auto">
                    <header>
                            <h3 class="line-clamp">1ª CORRIDA FRANCISCANA</h3>
                    </header>

                    <div>
                        <a href="/e/1-corrida-franciscana-34260" title="1ª CORRIDA FRANCISCANA">
                            <picture>
                                    <img class="thumb-event" src="https://cdn.ticketagora.com.br/ticketagora/site/evento-ticket-agora-2x.png" alt="1ª CORRIDA FRANCISCANA">
                            </picture>
                        </a>
                        <div class="hover-see-more">
                            <div class="hover-see-more-background"></div>
                            <div class="heart-check-box">
                                <i class="demo-icon icon-icon_fav-no" onclick="javascript:addToFavoritesDesktop(34260)"></i>
                            </div>
                            <i data-toggle="modal" data-target="#modalSocial" class="demo-icon icon-icon_share share" aria-hidden="true" onclick="share('1ª CORRIDA FRANCISCANA', '1ª CORRIDA FRANCISCANA', 'https://www.ticketsports.com.br/e/1-corrida-franciscana-34260', 'https://cdn.ticketagora.com.br/ticketagora/images/thumb/');"></i>
                            <a class="btn btn-default saibamais" href="/e/1-corrida-franciscana-34260" title="1ª CORRIDA FRANCISCANA">SAIBA MAIS</a>
                        </div>
                    </div>

                    <footer>
                        <div>
                            <i class="demo-icon icon-icon_organizador"></i>
                                    <a href="#" rel="author">PACE 3 - Eventos Esp...</a>

                        </div>

                        <div>
                            <i class="demo-icon icon-icon_calendar2"></i>
                                <time datetime="2022-09-17">17/09/2022</time>
                        </div>

                        <div>
                            <i class="demo-icon icon-icon_location"></i>

                            <address>Governador Valadares, MG</address>
                        </div>
                    </footer>
                    <input type="hidden" class="event-id" value="34260">
                </article>
                <article class="more-events-item more-events-effect0 m-3 mx-auto">
                    <header>
                            <h3 class="line-clamp">CORRIDA GRANADO PINK...</h3>
                    </header>

                    <div>
                        <a href="/e/corrida-granado-pink-belo-horizonte-33986" title="CORRIDA GRANADO PINK BELO HORIZONTE">
                            <picture>
                                    <img class="thumb-event" loading="lazy" src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/5SFWBVT3ZHE4EWIKZDIHJX7RD9YYOJ2FLFCKO6T4J7EBPK9N5M.png" data-src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/5SFWBVT3ZHE4EWIKZDIHJX7RD9YYOJ2FLFCKO6T4J7EBPK9N5M.png" alt="CORRIDA GRANADO PINK BELO HORIZONTE">
                            </picture>
                        </a>
                        <div class="hover-see-more">
                            <div class="hover-see-more-background"></div>
                            <div class="heart-check-box">
                                <i class="demo-icon icon-icon_fav-no" onclick="javascript:addToFavoritesDesktop(33986)"></i>
                            </div>
                            <i data-toggle="modal" data-target="#modalSocial" class="demo-icon icon-icon_share share" aria-hidden="true" onclick="share('CORRIDA GRANADO PINK BELO HORIZONTE', 'CORRIDA GRANADO PINK BELO HORIZONTE', 'https://www.ticketsports.com.br/e/corrida-granado-pink-belo-horizonte-33986', 'https://cdn.ticketagora.com.br/ticketagora/images/thumb/5SFWBVT3ZHE4EWIKZDIHJX7RD9YYOJ2FLFCKO6T4J7EBPK9N5M.png');"></i>
                            <a class="btn btn-default saibamais" href="/e/corrida-granado-pink-belo-horizonte-33986" title="CORRIDA GRANADO PINK BELO HORIZONTE">SAIBA MAIS</a>
                        </div>
                    </div>

                    <footer>
                        <div>
                            <i class="demo-icon icon-icon_organizador"></i>
                                    <a href="#" rel="author">5 Oceans Brasil</a>

                        </div>

                        <div>
                            <i class="demo-icon icon-icon_calendar2"></i>
                                <time datetime="2022-09-18">18/09/2022</time>
                        </div>

                        <div>
                            <i class="demo-icon icon-icon_location"></i>

                            <address>Belo Horizonte, MG</address>
                        </div>
                    </footer>
                    <input type="hidden" class="event-id" value="33986">
                </article>
                <article class="more-events-item more-events-effect1 m-3 mx-auto">
                    <header>
                            <h3 class="line-clamp">3ª CORRIDA VIASHOPPING</h3>
                    </header>

                    <div>
                        <a href="/e/3-corrida-viashopping-34196" title="3ª CORRIDA VIASHOPPING">
                            <picture>
                                    <img class="thumb-event" loading="lazy" src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/WRRYUDGWCIO5RATY2LRHEV639D7TS90QIU8ISDE3KNSXND55QM.png" data-src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/WRRYUDGWCIO5RATY2LRHEV639D7TS90QIU8ISDE3KNSXND55QM.png" alt="3ª CORRIDA VIASHOPPING">
                            </picture>
                        </a>
                        <div class="hover-see-more">
                            <div class="hover-see-more-background"></div>
                            <div class="heart-check-box">
                                <i class="demo-icon icon-icon_fav-no" onclick="javascript:addToFavoritesDesktop(34196)"></i>
                            </div>
                            <i data-toggle="modal" data-target="#modalSocial" class="demo-icon icon-icon_share share" aria-hidden="true" onclick="share('3ª CORRIDA VIASHOPPING', '3ª CORRIDA VIASHOPPING', 'https://www.ticketsports.com.br/e/3-corrida-viashopping-34196', 'https://cdn.ticketagora.com.br/ticketagora/images/thumb/WRRYUDGWCIO5RATY2LRHEV639D7TS90QIU8ISDE3KNSXND55QM.png');"></i>
                            <a class="btn btn-default saibamais" href="/e/3-corrida-viashopping-34196" title="3ª CORRIDA VIASHOPPING">SAIBA MAIS</a>
                        </div>
                    </div>

                    <footer>
                        <div>
                            <i class="demo-icon icon-icon_organizador"></i>
                                    <a href="#" rel="author">TBH Esportes</a>

                        </div>

                        <div>
                            <i class="demo-icon icon-icon_calendar2"></i>
                                <time datetime="2022-10-12">12/10/2022</time>
                        </div>

                        <div>
                            <i class="demo-icon icon-icon_location"></i>

                            <address>Belo Horizonte, MG</address>
                        </div>
                    </footer>
                    <input type="hidden" class="event-id" value="34196">
                </article>
                <article class="more-events-item more-events-effect0 m-3 mx-auto">
                    <header>
                            <h3 class="line-clamp">7ª CORRIDA ITAÚPOWER...</h3>
                    </header>

                    <div>
                        <a href="/e/7-corrida-itaupower-shopping-34339" title="7ª CORRIDA ITAÚPOWER SHOPPING">
                            <picture>
                                    <img class="thumb-event" loading="lazy" src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/5LV8CHH63VS5YMD7ITTVIQ5SS0F3A5WL2SB7IO5PYCQYBI8XKU.png" data-src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/5LV8CHH63VS5YMD7ITTVIQ5SS0F3A5WL2SB7IO5PYCQYBI8XKU.png" alt="7ª CORRIDA ITAÚPOWER SHOPPING">
                            </picture>
                        </a>
                        <div class="hover-see-more">
                            <div class="hover-see-more-background"></div>
                            <div class="heart-check-box">
                                <i class="demo-icon icon-icon_fav-no" onclick="javascript:addToFavoritesDesktop(34339)"></i>
                            </div>
                            <i data-toggle="modal" data-target="#modalSocial" class="demo-icon icon-icon_share share" aria-hidden="true" onclick="share('7ª CORRIDA ITAÚPOWER SHOPPING', '7ª CORRIDA ITAÚPOWER SHOPPING', 'https://www.ticketsports.com.br/e/7-corrida-itaupower-shopping-34339', 'https://cdn.ticketagora.com.br/ticketagora/images/thumb/5LV8CHH63VS5YMD7ITTVIQ5SS0F3A5WL2SB7IO5PYCQYBI8XKU.png');"></i>
                            <a class="btn btn-default saibamais" href="/e/7-corrida-itaupower-shopping-34339" title="7ª CORRIDA ITAÚPOWER SHOPPING">SAIBA MAIS</a>
                        </div>
                    </div>

                    <footer>
                        <div>
                            <i class="demo-icon icon-icon_organizador"></i>
                                    <a href="#" rel="author">TBH Esportes</a>

                        </div>

                        <div>
                            <i class="demo-icon icon-icon_calendar2"></i>
                                <time datetime="2022-11-06">06/11/2022</time>
                        </div>

                        <div>
                            <i class="demo-icon icon-icon_location"></i>

                            <address>Contagem, MG</address>
                        </div>
                    </footer>
                    <input type="hidden" class="event-id" value="34339">
                </article>
                <article class="more-events-item more-events-effect1 m-3 mx-auto">
                    <header>
                            <h3 class="line-clamp">CORRIDAS UNIMED ETAP...</h3>
                    </header>

                    <div>
                        <a href="/e/corridas-unimed-etapa-araxa-34386" title="CORRIDAS UNIMED ETAPA ARAXÁ">
                            <picture>
                                    <img class="thumb-event" loading="lazy" src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/3QLH402O3L4VTNC6UWVR0IKZYEX2JENUMKW8QDFCOUL5A5ZC3D.png" data-src="https://cdn.ticketagora.com.br/ticketagora/images/thumb/3QLH402O3L4VTNC6UWVR0IKZYEX2JENUMKW8QDFCOUL5A5ZC3D.png" alt="CORRIDAS UNIMED ETAPA ARAXÁ">
                            </picture>
                        </a>
                        <div class="hover-see-more">
                            <div class="hover-see-more-background"></div>
                            <div class="heart-check-box">
                                <i class="demo-icon icon-icon_fav-no" onclick="javascript:addToFavoritesDesktop(34386)"></i>
                            </div>
                            <i data-toggle="modal" data-target="#modalSocial" class="demo-icon icon-icon_share share" aria-hidden="true" onclick="share('CORRIDAS UNIMED ETAPA ARAXÁ', 'CORRIDAS UNIMED ETAPA ARAXÁ', 'https://www.ticketsports.com.br/e/corridas-unimed-etapa-araxa-34386', 'https://cdn.ticketagora.com.br/ticketagora/images/thumb/3QLH402O3L4VTNC6UWVR0IKZYEX2JENUMKW8QDFCOUL5A5ZC3D.png');"></i>
                            <a class="btn btn-default saibamais" href="/e/corridas-unimed-etapa-araxa-34386" title="CORRIDAS UNIMED ETAPA ARAXÁ">SAIBA MAIS</a>
                        </div>
                    </div>

                    <footer>
                        <div>
                            <i class="demo-icon icon-icon_organizador"></i>
                                    <a href="#" rel="author">RiTos Esportes</a>

                        </div>

                        <div>
                            <i class="demo-icon icon-icon_calendar2"></i>
                                <time datetime="2022-09-25">25/09/2022</time>
                        </div>

                        <div>
                            <i class="demo-icon icon-icon_location"></i>

                            <address>Araxá, MG</address>
                        </div>

                    <input type="hidden" class="event-id" value="34386">
                </article>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <button data-id="Perto de você" class="btn btn-default carregar-mais ver-todos">VER TODOS OS EVENTOS</button>
                </div>
            </div>
        </div>
</section>



</main>

<footer>

  <%- include('./partials/footer') %>

</footer>

</body>
</html>
