<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/organizador.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="stylesheets/footer.css">

</head> 

<header>

<%- include('./partials/header') %>

</header>

<main>

    <section class="prefuc">
        <div class="center-text-prefuc">
            <h1 class="first-text"> Tecnologia feita para<br>o sucesso do seu evento</h1>
            <div class="blue-border-center"></div>
            <p class="text-func">
                Plataforma de inscrições e ingressos para eventos
                com ferramentas indispensáveis. Tenha controle
                total sob os recursos de nosso painel e crie
                um evento de sucesso.
            </p>
        </div>
    </section>

        
<section class="functions">
    <div class="container shadow">
        <header>
            <div class="row">
                <div class="col-md-12">
                    <h2>Veja tudo o que a plataforma do<br>Ticket Sports tem a oferecer:</h2>
                    <div class="blue-border-center"></div>
                </div>
            </div>
        </header>
        <article>
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <h3><span>Gerenciamento de dados<br>sem dor de cabeça</span></h3>
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>
                            <div class="whitebox-func z-depth-1">
                                <figure>
                                    <picture>
                                        <source type="image/webp" data-srcset="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades1.webp">
                                        <img loading="lazy" data-src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades1.png" alt="Configure todas as viradas de lotes da maneira que você preferir." src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades1.png">
                                    </picture>
                                    <figcaption>Configure todas as viradas de lotes da maneira que você preferir.</figcaption>
                                </figure>
                            </div>
                        </li>
                        <li>
                            <div class="whitebox-func z-depth-1">
                                <figure>
                                    <picture>
                                        <source type="image/webp" data-srcset="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades2.webp">
                                        <img loading="lazy" data-src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades2.png" alt="Integre o nosso sistema em redes sociais ou no seu site." src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades2.png">
                                    </picture>
                                    <figcaption>Integre o nosso sistema em redes sociais ou no seu site.</figcaption>
                                </figure>
                            </div>
                        </li>
                        <li>
                            <div class="whitebox-func z-depth-1">
                                <figure>
                                    <picture>
                                        <source type="image/webp" data-srcset="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades3.webp">
                                        <img loading="lazy" data-src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades3.png" alt="Repasses integrados e relatórios financeiros." src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades3.png">
                                    </picture>
                                    <figcaption>Repasses integrados e relatórios financeiros.</figcaption>
                                </figure>
                            </div>
                        </li>
                        <li>
                            <div class="whitebox-func z-depth-1">
                                <figure>
                                    <picture>
                                        <source type="image/webp" data-srcset="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades4.webp">
                                        <img loading="lazy" data-src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades4.png" alt="Forneça links exclusivos e vagas para grupos." src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades4.png">
                                    </picture>
                                    <figcaption>Forneça links exclusivos e vagas para grupos.</figcaption>
                                </figure>
                            </div>
                        </li>
                        <li>
                            <div class="whitebox-func z-depth-1">
                                <figure>
                                    <picture>
                                        <source type="image/webp" data-srcset="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades5.webp">
                                        <img loading="lazy" data-src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades5.png" alt="Protocolo com QR Code, código de barras e dados gerais da inscrição." src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades5.png">
                                    </picture>
                                    <figcaption>Protocolo com QR Code, código de barras e dados gerais da inscrição.</figcaption>
                                </figure>
                            </div>
                        </li>
                        <li>
                            <div class="whitebox-func z-depth-1">
                                <figure>
                                    <picture>
                                        <source type="image/webp" data-srcset="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades6.webp">
                                        <img loading="lazy" data-src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades6.png" alt="Sistema que permite parcelamento em até 12x." src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades6.png">
                                    </picture>
                                    <figcaption>Sistema que permite parcelamento em até 12x.</figcaption>
                                </figure>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <article>
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <h3><span>Ferramenta totalmente<br>customizável</span></h3>
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>
                            <div class="whitebox-func z-depth-1">
                                <figure>
                                    <picture>
                                        <source type="image/webp" data-srcset="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades7.webp">
                                        <img loading="lazy" data-src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades7.png" alt="Crie questionários e pesquisas para descobrir mais sobre o seu cliente." src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades7.png">
                                    </picture>
                                    <figcaption>Crie questionários e pesquisas para descobrir mais sobre o seu cliente.</figcaption>
                                </figure>
                            </div>
                        </li>
                        <li>
                            <div class="whitebox-func z-depth-1">
                                <figure>
                                    <picture>
                                        <source type="image/webp" data-srcset="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades8.webp">
                                        <img loading="lazy" data-src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades8.png" alt="Hotsite do evento com a sua identidade e conteúdo customizável." src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades8.png">
                                    </picture>
                                    <figcaption>Hotsite do evento com a sua identidade e conteúdo customizável.</figcaption>
                                </figure>
                            </div>
                        </li>
                        <li>
                            <div class="whitebox-func z-depth-1">
                                <figure>
                                    <picture>
                                        <source type="image/webp" data-srcset="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades9.webp">
                                        <img loading="lazy" data-src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades9.png" alt="Crie cupons de descontos e ingressos VIP." src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades9.png">
                                    </picture>
                                    <figcaption>Crie cupons de descontos e ingressos VIP.</figcaption>
                                </figure>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <article>
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <h3><span>Segurança total</span></h3>
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>
                            <div class="whitebox-func z-depth-1">
                                <figure>
                                    <picture>
                                        <source type="image/webp" data-srcset="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades10.webp">
                                        <img loading="lazy" data-src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades10.png" alt="Crie cupons de descontos e ingressos VIP." src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades10.png">
                                    </picture>
                                    <figcaption>Crie cupons de descontos e ingressos VIP.</figcaption>
                                </figure>
                            </div>
                        </li>
                        <li>
                            <div class="whitebox-func z-depth-1">
                                <figure>
                                    <picture>
                                        <source type="image/webp" data-srcset="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades11.webp">
                                        <img loading="lazy" data-src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades11.png" alt="Backup de informações na rede." src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades11.png">
                                    </picture>
                                    <figcaption>Backup de informações na rede.</figcaption>
                                </figure>
                            </div>
                        </li>
                        <li>
                            <div class="whitebox-func z-depth-1">
                                <figure>
                                    <picture>
                                        <source type="image/webp" data-srcset="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades12.webp">
                                        <img loading="lazy" data-src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades12.png" alt="Transações criptografadas: segurança para os seus clientes." src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades12.png">
                                    </picture>
                                    <figcaption>Transações criptografadas: segurança para os seus clientes.</figcaption>
                                </figure>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <article>
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <h3><span>Comunique-se com<br>os participantes</span></h3>
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>
                            <div class="whitebox-func z-depth-1">
                                <figure>
                                    <picture>
                                        <source type="image/webp" data-srcset="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades13.webp">
                                        <img loading="lazy" data-src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades13.png" alt="Ferramenta de projeção de vendas e análises." src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades13.png">
                                    </picture>
                                    <figcaption>Ferramenta de projeção de vendas e análises.</figcaption>
                                </figure>
                            </div>
                        </li>
                        <li>
                            <div class="whitebox-func z-depth-1">
                                <figure>
                                    <picture>
                                        <source type="image/webp" data-srcset="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades15.webp">
                                        <img loading="lazy" data-src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades15.png" alt="Ative as vendas com a lista<br>de abandono de carrinho." src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades15.png">
                                    </picture>
                                    <figcaption>Ative as vendas com a lista<br>de abandono de carrinho.</figcaption>
                                </figure>
                            </div>
                        </li>
                        <li>
                            <div class="whitebox-func z-depth-1">
                                <figure>
                                    <picture>
                                        <source type="image/webp" data-srcset="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades14.webp">
                                        <img loading="lazy" data-src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades14.png" alt="Mande certificados direto do sistema para todos<br>os participantes." src="https://cdn.ticketagora.com.br/ticketagora/site/funcionalidades14.png">
                                    </picture>
                                    <figcaption>Mande certificados direto do sistema para todos<br>os participantes.</figcaption>
                                </figure>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <article>
            <div class="end-function">
                <div class="row">
                    <div class="col-md-4">
                        <h3 style="color:#FFF; font-size: 23px;">Conheça o perfil do seu consumidor</h3>
                        <div class="blue-border"></div>
                        <p>A nossa ferramenta fornece relatórios de perfil demográfico e de compras dos seus clientes para otimizar as vendas.</p>
                        <p>Além disso, disponibilizamos recursos de projeção, que possibilitam ativar vendas com a lista de abandono de carrinho.</p>
                    </div>
                    <div class="col-md-8">
                        <picture>
                            <img class="rede-connect" loading="lazy" data-src="https://www.ticketsports.com.br/img/funcionalidades/perfilConsumidor_ilustra.svg" alt="Conheça o perfil do seu consumidor" src="https://www.ticketsports.com.br/img/funcionalidades/perfilConsumidor_ilustra.svg">
                        </picture>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<section>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        O Ticket Sports oferece diferentes portais de conteúdo para<br>impulsionar a venda
                        de seus eventos. Clique e conheça nossas marcas:
                    </h2>
                    <div class="blue-border-center"></div>
                </div>
            </div>
        </header>
        <article>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>
                            <a href="http://www.webventure.com.br/" target="_blank">
                                <img class="brand" loading="lazy" data-src="https://www.ticketsports.com.br/img/funcionalidades/Group 208@2x.png" alt="" src="https://www.ticketsports.com.br/img/funcionalidades/Group 208@2x.png">
                            </a>
                        </li>
                        <li>
                            <a href="http://www.webrun.com.br/" target="_blank">
                                <img class="brand" loading="lazy" data-src="https://www.ticketsports.com.br/img/funcionalidades/Group 204@2x.png" alt="" src="https://www.ticketsports.com.br/img/funcionalidades/Group 204@2x.png">
                            </a>
                        </li>
                        <li>
                            <a href="http://e-arena.com.br/" target="_blank">
                                <img class="brand" loading="lazy" data-src="https://www.ticketsports.com.br/img/funcionalidades/Rectangle 377@2x.png" alt="" src="https://www.ticketsports.com.br/img/funcionalidades/Rectangle 377@2x.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</section>

<section class="optimizada">
    <div class="container">
        <header>
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Navegação otimizada <br>para qualquer dispositivo
                    </h2>
                    <div class="blue-border-center"></div>
                </div>
            </div>
        </header>
        <article>
            <div class="row">
                <div class="col-md-12">
                    <picture>
                        <img loading="lazy" data-src="https://cdn.ticketagora.com.br/ticketagora/site/Plataforma_Responsiva.png" style="width: 100%;" alt="A interface da plataforma <br> é totalmente responsiva" src="https://cdn.ticketagora.com.br/ticketagora/site/Plataforma_Responsiva.png">
                    </picture>
                </div>
            </div>
        </article>
    </div>
</section>

<span class="dgd-4org" id="solicite-orcamento">SEU EVENTO AQUI NO TICKET SPORTS!</span>

<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div role="main" id="solicitacao-de-orcamento-site-oficial-ac896c8e8911d48e983f" style="width: 100%;"><section id="form-solicitacao-de-orcamento-site-oficial-ac896c8e8911d48e983f">
    <div id="rdstation-bricks-embeddable-form-bricks-component-B7Av7Lfdz41spEudjlS-eg">
      <div id="bricks-component-B7Av7Lfdz41spEudjlS-eg" class="bricks--component bricks--component-embeddable-form">

<section id="rd-section-klmpra2e" class="bricks--section rd-section">
 
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div role="main" id="solicitacao-de-orcamento-site-oficial-ac896c8e8911d48e983f" style="width: 100%;"><section id="form-solicitacao-de-orcamento-site-oficial-ac896c8e8911d48e983f">
        <div id="rdstation-bricks-embeddable-form-bricks-component-B7Av7Lfdz41spEudjlS-eg">
          <div id="bricks-component-B7Av7Lfdz41spEudjlS-eg" class="bricks--component bricks--component-embeddable-form">
    
    <section id="rd-section-klmpra2e" class="bricks--section rd-section">
      
    
    
    <div id="rd-row-klmpra2f" class="bricks--row rd-row">
      
    
    
    <div id="rd-column-klmpra2g" class="bricks--column rd-column">
      <div>
        
    <div id="rd-text-klmpra2h" class="bricks--component bricks--component-text rd-text">
      <h1 style="text-align: center; line-height: 1;"><strong style="color: rgb(102, 102, 102); font-family: Roboto, sans-serif; font-size: 32px;">CRIE CONOSCO EXPERIÊNCIAS TRANSFORMADORAS!</strong></h1>
    </div>

    <div id="rd-html-klmpra2i" class="bricks--component bricks--component-html rd-html">
        <h2 style="line-height: 1; text-align: center;"><span style="color: #666666; font-size: 16px; font-family: Roboto;"><br><b>Venha fazer parte de um ecossistema de conexão, inovação e tecnologia.</b><br>Preencha o briefing inicial para que possamos entender melhor seu atual momento!<br><br>É coisa rápida :)<br><br></span></h2>
      </div>
      
        </div>
      </div>
      
      </div>

      <div id="rd-row-klmpra2j" class="bricks--row rd-row">

        <div id="rd-column-klmpra2k" class="bricks--column rd-column">
            <div>
          
          <div id="rd-form-klmpra2l" class="bricks--component bricks-form rd-form">
          
            <form id="conversion-form-solicitacao-de-orcamento-site-oficial" action="https://gyruss.rdops.systems/v2/conversions" data-typed-fields="1" data-lang="pt-BR" novalidate="novalidate" data-asset-action="" data-form-autofill="">
              <input type="hidden" name="token_rdstation" value="62f8ac7615a58cc4f963737b22e69c30">
              <input type="hidden" name="conversion_identifier" value="solicitacao-de-orcamento-site-oficial">
              <input type="hidden" name="internal_source" value="6">
              <input type="hidden" name="c_utmz" value="">
              <input type="hidden" name="traffic_source" value="">
              <input type="hidden" name="client_id" value="">
              <input type="hidden" name="_doe" value="">
              <input type="hidden" name="privacy_data[browser]" id="privacy_data_browser">
          
              <input type="hidden" name="thankyou_message" value="Recebemos seu contato! Nossa equipe comercial entrará em contato em até 24 horas úteis." disabled="">
              
          
              <div class="bricks-form__fieldset" data-progressive-profiling="">
            <div class="bricks-form__field">
            <label for="rd-select_field-l7i44ghn" class="bricks-form__label">
              Você é um(a) organizador(a) de eventos?*
            </label>
          
            
            
            <select id="rd-select_field-l7i44ghn" class="bricks-form__input required js-field-cf_voce_e_um_organizador_a_de_eventos" data-use-type="STRING" name="cf_voce_e_um_organizador_a_de_eventos" required="required">
              <option value="">
                
                Selecione
              </option>
              
                <option value="Sim (produzo mais de 5 eventos por ano)">Sim (produzo mais de 5 eventos por ano)</option>
              
                <option value="Sim (produzo de 2 a 4 eventos por ano)">Sim (produzo de 2 a 4 eventos por ano)</option>
              
                <option value="Sim (produzo 1 evento por ano)">Sim (produzo 1 evento por ano)</option>
              
                <option value="Sim (sou agência MKT esportivo desenvolvendo projetos especiais para clientes e marcas)">Sim (sou agência MKT esportivo desenvolvendo projetos especiais para clientes e marcas)</option>
              
                <option value="Sim, ainda em fase de aprendizado sobre o mercado">Sim, ainda em fase de aprendizado sobre o mercado</option>
              
                <option value="Não, procuro uma parceria com a Ticket Sports">Não, procuro uma parceria com a Ticket Sports</option>
              
            </select>
          </div>  
          <div class="bricks-form__field">
            <label for="rd-select_field-l7i44gho" class="bricks-form__label">
              Qual modalidade que atua?*
            </label>
          
            
            
            <select id="rd-select_field-l7i44gho" class="bricks-form__input required js-field-cf_qual_modalidade_que_atua" data-use-type="STRING" name="cf_qual_modalidade_que_atua" required="required">
              <option value="">
                
                Selecione
              </option>
              
                <option value="Corrida de Rua/ Caminhada">Corrida de Rua/ Caminhada</option>
              
                <option value="Ciclismo/ MTB">Ciclismo/ MTB</option>
              
                <option value="Corrida de Obstáculos">Corrida de Obstáculos</option>
              
                <option value="Corrida Kids">Corrida Kids</option>
              
                <option value="Canoagem VA'A">Canoagem VA'A</option>
              
                <option value="Desafios Virtuais">Desafios Virtuais</option>
              
                <option value="Natação/ Travessia">Natação/ Travessia</option>
              
                <option value="Trail Run/ Corrida de Montanha">Trail Run/ Corrida de Montanha</option>
              
                <option value="Triathlon/ Duathlon">Triathlon/ Duathlon</option>
              
                <option value="Cursos">Cursos</option>
              
                <option value="Outros eventos esportivos">Outros eventos esportivos</option>
              
                <option value="Outros eventos em geral">Outros eventos em geral</option>
              
            </select>
        </div>  

        <div class="bricks-form__field">
            <label class="bricks-form__label always-visible">
              É cliente Ticket Sports?*
            </label>
            
              <div class="bricks-form__field__option">
                <label class="bricks-form__label">
                  <input id="rd-checkboxes_field-l7i44ghp_Sim" name="cf_e_cliente_ticket_agora[]" type="checkbox" value="Sim" data-use-type="STRING" class="bricks-form__field__option__input required js-field-cf_e_cliente_ticket_agora" required="required">
                  Sim
                </label>
              </div>
            
              <div class="bricks-form__field__option">
                <label class="bricks-form__label">
                  <input id="rd-checkboxes_field-l7i44ghp_Não" name="cf_e_cliente_ticket_agora[]" type="checkbox" value="Não" data-use-type="STRING" class="bricks-form__field__option__input required js-field-cf_e_cliente_ticket_agora" required="required">
                  Não
                </label>
              </div>
            
          </div>
          <div class="bricks-form__field">
            <label for="rd-text_field-l7i44ghq" class="bricks-form__label">
              Nome e sobrenome:*
            </label>
            <input id="rd-text_field-l7i44ghq" class="bricks-form__input required js-text js-field-cf_nome_e_sobrenome" name="cf_nome_e_sobrenome" type="text" data-use-type="STRING" placeholder="Nome e sobrenome: *" required="required">
          </div>
          <div class="bricks-form__field ">
            <label for="rd-phone_field-l7i44ghr" class="bricks-form__label">
              Celular*
            </label>
            <div class="phone-input-group">
              
          
              <input id="rd-phone_field-l7i44ghr" class="bricks-form__input required phone js-phone js-field-mobile_phone" name="mobile_phone" data-input-mask="BRAZILIAN_MASK" data-use-type="STRING" type="tel" placeholder="Celular *" required="required" data-country="">
            </div>
          </div>
          <div class="bricks-form__field">
            <label for="rd-email_field-l7i44ghs" class="bricks-form__label">
              Email*
            </label>
            <input id="rd-email_field-l7i44ghs" class="bricks-form__input required js-email js-field-email" name="email" type="email" data-use-type="STRING" placeholder="Email *" required="required">
          </div>
          <div class="bricks-form__field">
            <label for="rd-text_field-l7i44ght" class="bricks-form__label">
              Empresa*
            </label>
            <input id="rd-text_field-l7i44ght" class="bricks-form__input required js-text js-field-company" name="company" type="text" data-use-type="" placeholder="Empresa *" required="required">
          </div>
          <div class="bricks-form__field">
            <label for="rd-text_field-l7i44ghu" class="bricks-form__label">
              Site
            </label>
            <input id="rd-text_field-l7i44ghu" class="bricks-form__input  js-text js-field-cf_site_da_empresa" name="cf_site_da_empresa" type="text" data-use-type="STRING" placeholder="Site">
          </div>
          <div class="bricks-form__field">
            <label for="rd-select_field-l7i44ghv" class="bricks-form__label">
              Melhor forma de contato*
            </label>
          
            
            
            <select id="rd-select_field-l7i44ghv" class="bricks-form__input required js-field-cf_melhor_forma_de_contato" data-use-type="STRING" name="cf_melhor_forma_de_contato" required="required">
              <option value="">
                
                Selecione
              </option>
              
                <option value="Whatsapp">Whatsapp</option>
              
                <option value="Telefone">Telefone</option>
              
                <option value="E-mail">E-mail</option>
              
            </select>
          </div>  
          <div class="bricks-form__field">
            <label for="rd-select_field-l7i44ghw" class="bricks-form__label">
              Como ficou sabendo do Ticket Sports?*
            </label>
          
            
            
            <select id="rd-select_field-l7i44ghw" class="bricks-form__input required js-field-cf_como_ficou_sabendo_do_ticket_sports" data-use-type="STRING" name="cf_como_ficou_sabendo_do_ticket_sports" required="required">
              <option value="">
                
                Selecione
              </option>
              
                <option value="Indicação clientes">Indicação clientes</option>
              
                <option value="Indicação parceiros">Indicação parceiros</option>
              
                <option value="Redes sociais">Redes sociais</option>
              
                <option value="Google">Google</option>
              
            </select>
          </div>  
          <div class="bricks-form__field">
            <label for="rd-text_field-l7i44ghx" class="bricks-form__label">
              Coloque o nome em caso de indicação
            </label>
            <input id="rd-text_field-l7i44ghx" class="bricks-form__input  js-text js-field-cf_coloque_o_nome_em_caso_de_indicacao" name="cf_coloque_o_nome_em_caso_de_indicacao" type="text" data-use-type="STRING" placeholder="Coloque o nome em caso de indicação">
          </div>

          <div class="bricks-form__field bricks-form__privacy">
            <div class="bricks-form__field__option">
              <label class="bricks-form__label">
                <input id="rd-checkbox_field-l7i44ghz" name="privacy_data[consent]" type="checkbox" value="1" data-use-type="STRING" data-always-visible="true" data-legal-base-type="0" class="bricks-form__field__option__input  js-field-privacy_data[consent]">
                Eu concordo em receber comunicações.
              </label>
            </div>
          </div>

          <div class="bricks-form__field bricks-form__terms">
            <p class="bricks-form__static" id="rd-static_text-l7i44gi0">
              O Ticket Sports se compromete a proteger e respeitar sua privacidade, utilizaremos seus dados apenas para fins de marketing.&nbsp;
            </p>
          
            
              
                <input type="hidden" name="privacy_data[consent_privacy_policy]">
                <div class="bricks-form__submit">
                    <button class="bricks--component bricks--component-button rd-button" id="rd-button-klmpra2o">
                      Receber proposta
                    </button>
                </div>           
          </div>
          
          
          
          
            </div>
          </div>
          
          </div>
          
          </section>
          
                </div>
              </div>

          <section class="contato-sac">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>
                            VOCÊ É ATLETA, PARTICIPANTE?
                        </h2>
                    </div>
                </div>        
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="p-margin">Solicitamos por gentileza que entre em contato com o nosso atendimento ao participante pelo canal de atendimento disponível <a href="/Contato" target="_blank">neste link</a>.</p>
                        <p class="p-margin">Este ambiente é um canal de uso exclusivo para contato comercial de organizadores, produtores de eventos com a equipe Ticket Sports.</p>
                        <p>Desejamos sua compreensão e bons treinos.</p>
                    </div>
                </div>
            </div>
        </section>

</main>

<footer>

    <%- include('./partials/footer') %>
    
</footer>