<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/roupas.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="stylesheets/footer.css">

    <style >
      @font-face {
        font-family: nunitosans;
        src: url(../font/nunito-sans-bold.ttf);
      }
    </style>

</head>

<header>

<%- include('./partials/header') %>

</header>


<main>


</main>

<footer>
    <%- include('./partials/footer') %>
  </footer>
  
  <script src="mobile-NavBar.js"></script>
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  <script src="https://kit.fontawesome.com/bc8a819dc8.js" crossorigin="anonymous"></script>
  
  </body>
  </html>