<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/roupas.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="stylesheets/footer.css">

    <style >
      @font-face {
        font-family: nunitosans;
        src: url(../font/nunito-sans-bold.ttf);
      }
    </style>

</head>

<header>
 
<%- include('./partials/header') %>

</header>


<main>

  <main>
    <div class="titulo">
    <div class="1palavra"> <h1>Roupas</h1></div>
    <span class="Home">Home</span>
</div>

<section class="grade1">
    <div class="Roupa1">
        <img id="parte" src="img/223215595.jpg" alt="camisa commes" width="100%" height="400" >
        <div class="ajuste">
        <p>Camiseta Commes Des Garçons "Play" Branco</p>
        <div class="precoRoupa1">
        <span>R$ 2.349,99</span>
        <img src="img/carrinho.jpg" alt="carrinho"></div>
    </div>
 </div>
       <div class="Roupa1">
        <img id="parte" src="img/regatadrew.jpg" alt="Camiseta Drew" width="100%" height="400px">
        <div class="ajuste">
        <p>Camiseta Regata Drew House "Joy" Azul</p>
        <div class="precoRoupa1">
            <span>R$ 1.549,90</span>
            <img src="img/carrinho.jpg" alt="carrinho"></div>
        </div>
        </div>

        <div class="Roupa1">
            <img id="parte" src="img/camisapalla.jpg" alt="Camiseta Palla World" width="100%" height="400px">
            <div class="ajuste">
            <p>Camiseta Palla World "Espectro" Marrom</p>
            <div class="precoRoupa1">
                <span>R$ 127,49</span>
                <img src="img/carrinho.jpg" alt="carrinho"></div>
            </div>
        </div>
</section>

    <section class="grade1">
        <div class="Roupa4">
            <img id="parte" src="img/PWorks-WhiteSweatpants.png" alt="Calça Palla World" width="100%" height="400px">
            <p>Calça Palla World "P-Works" Branco</p>
            <div class="precoRoupa1">
                <span>R$ 187,42</span>
                <img src="img/carrinho.jpg" alt="carrinho"></div>
        </div>
            
        <div class="Roupa5">
            <img id="parte" src="img/camisa5.png" alt="Camiseta Bape" width="100%" height="400px" >
            <p>Camiseta Bape "Text Code Camo Collegy 2" Preto</p>
            <div class="precoRoupa1">
                <span>R$ 1.799,90</span>
                <img src="img/carrinho.jpg" alt="carrinho"></div>
            </div>
        </div>

        <div class="Roupa6">
            <img id="parte" src="img/camisa6.jpg" alt="Camiseta Supreme" width="100%" height="400px" >
            <p>Camiseta Supreme x Stone Island "Mona Lisa" Colorida</p>
            <div class="precoRoupa1">
                <span>R$ 2.899,90</span>
            <img src="img/carrinho.jpg" alt="carrinho"></div>
            </div>
        </div>
    </section>
</main>

</main>

<footer>
    <%- include('./partials/footer') %>
</footer>
  
  <script src="mobile-NavBar.js"></script>
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  <script src="https://kit.fontawesome.com/bc8a819dc8.js" crossorigin="anonymous"></script>
  
  </body>
  </html>