<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/tenis.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="stylesheets/footer.css">

    <style >
      @font-face {
        font-family: nunitosans;
        src: url(../font/nunito-sans-bold.ttf);
      }
    </style>

</head>

<header>

<%- include('./partials/header') %>

</header>

<main>

    <div class="descri">
        <div class="tenis">
            <h2>Tênis</h2>
        </div>

         <div class="home">
            <a href="home.html" class="dib"><h2>Home</h2></a>
    </div>

    <section class="produtos">

      <section class="produto">
        <img src="img\AirJordan1LowBlackGreyPink553558-062-3 1.webp" alt="tenis1" width="100%" height="300px
        ">
        <p>Tênis Air Jordan 1 Low "Grey Pink" Cinza</p>
      </section>
      <section class="produto">
        <img src="img/Women_sAirJordan1LowCanvasDQ4151-500 2.webp" alt="tenis2" width="100%" height="300px
        ">
        <p>Tênis W Air Jordan 1 Low "Canvas" Begê</p>
      </section>
      <section class="produto">
        <img src="img/AirTrainer1xCACT.USCORPArchaeoBrownandRustPinkDR7515-200-3 3.webp" alt="tenis3" width="100%" height="300px
        ">
        <p>Tênis Nike Air Trainer 1 SP "Cactus Corporation" Marrom</p>
      </section>
      <section class="produto">
        <img src="img\Nike-Dunk-Low-PS-Orange-Blue-2 4.webp" alt="tenis4" width="100%" height="300px
        ">
        <p>Tênis Nike Dunk Low "Orange Blue" Laranja</p>
      </section>
      <section class="produto">
        <img src="img/AIRJORDAN4RETROSEZENMASTER-1 5.webp" alt="tenis5" wwidth="100%" height="300px
        ">
        <p>Tênis Air Jordan 4 Retro SE "Zen Master" Tye Dye</p>
      </section>
      <section class="produto">
        <img src="img\Nike-Dunk-Low-World-Champ-DR9511-100-3 6.webp" alt="tenis6" width="100%" height="300px
        ">
        <p>Tênis Nike Dunk Low "World Champions" Preto/Branco</p> 
      </section>
      <section class="produto">
        <img src="img/NIKE-Air-Jordan-1-High-OG-Stealth-555088-037 7.webp" alt="tenis7" width="100%" height="300px
        ">
        <p>Tênis Air Jordan 1 High Og "Stealth" Branco/Cinza</p>
      </section>
      <section class="produto">
        <img src="img/NIKE-W-AIR-FORCE-1-SHADOW-CI0919-600-3 8.webp" alt="tenis8" width="100%" height="300px
        ">
        <p>Tênis W Nike Air Force Shadow "Light Soft Pink' Colorido</p>
      </section>
    </section>

</main>



<footer>
  <%- include('./partials/footer') %>
</footer>

<script src="mobile-NavBar.js"></script>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
<script src="https://kit.fontawesome.com/bc8a819dc8.js" crossorigin="anonymous"></script>

</body>
</html>