body {
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.barra {
    display: flex;
    justify-content: space-around;
    justify-items: flex-start;
    width: 50%;
    color: inherit;
    font-size: 25px;
    margin-right: 35px;
    margin-left: 25px;
}

.segundo {
    display: flex;
    width: 220px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 5px;
}

.sale {
    display: flex;
    font-size: 32px;
    justify-content: flex-start;
    align-items: center;
    width: 30px;
}

.box {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    margin-right: 30px;
    width: 150px;
    height: 20px;
    margin-left: 30px;

}



.main {
    display: flex;
    background-repeat: no-repeat;
    height: 390px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-bottom: 70px;

}



.top{
    font-size: 30px;
    color: #FF007D;
}

.roupas {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
}

.painelroupas {
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
    width: 40%;
}

.cardsroupas {
    align-items: center;
    justify-content: space-around;
    height: 90vh;
}

.grade{
    display: flex;
    justify-content: space-around;
    height: 50vh;
    width: 100%;
}

.card{
    width: 30%;
    height: 40vh;

}

.descricao{
    text-align: center;
}
.preco{
    text-align: center;
}

.top {
    text-align: center;
}

.bel {
  margin-top: 20px;
  margin-bottom: 29px;

}


button {
    border-radius: 10px;
    color: #FF007D
}



.trio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 500px;
    margin: 0 auto;

}

.cartao {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 320px;
    border: solid 1px rgba(180, 8 , 94,0.3);
    font-size: 30px;
}



.cardsmarcas {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

hr{
    border: solid 1px  rgba(180, 8 , 94,0.3);
    width: 30%;
}