.barra {
    display: flex;
    justify-content: space-around;
    justify-items: flex-start;
    width: 450px;
    color: inherit;
    font-size: 15px;
    margin-right: 35px;
    margin-left: 25px;
}

.segundo {
    display: flex;
    width: 220px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 5px;
}

.sale {
    display: flex;
    font-size: 32px;
    justify-content: flex-start;
    align-items: center;
    width: 30px;
}

.box {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    margin-right: 30px;
    width: 150px;
    height: 20px;
    margin-left: 30px;

}





.roupas {
    display: flex;
    margin-bottom: 20px;
}

.painelroupas {
    flex-direction: row;
}

.cardsroupas {
    background-color: aqua;
    height: 10vh;
    width: 90%;
    align-items: center;
    justify-content: center;

}
.part1{
    text-align: center;
    background-color: #F7F7F7;
    height: 15vh;
    

}

.marca{
    padding-top: 2%;
}
.home{
    text-decoration:none;
    color: black;
}
.marcas{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    
 
   
}
.opc{
    margin-bottom: 2%;
}

.img{
align-items: center;
display: flex;
width: 40%;
margin: 20px;
overflow: hidden;
}
    
.img img{
    
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
 }
 
 .img:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }

/* .p{

position:absolute;
color:black;
font-size: 30px; 
text-decoration:none;
background-color: aliceblue;
width: 10%;
text-align: center;
opacity: 0.5;
margin-left: 15%;
margin-top: 20%;
} */