<% - include('./partials/header') %>

<main>

    <div class="confirma">
        <span class="iconify" data-icon="ic:baseline-not-interested" style="color: #fe017d;" data-width="300" data-height="300"></span><p class="f">Seu pagamento foi negado.</p>
    <hr class="hr" width="40%">
    </div>
    
    <div class="but"><button type="button" class="bot"> Tentar outra forma de pagamento</button>
        
        <div class="but2"><button type="button" class="bot1"> Voltar as Compras ! </button>
    </div>
    </div> 


</main>

<% - include('./partials/footer') %> 