<% - include('./partials/header') %>

  <main>
    <div class="compras">
        <div class="mcarrinho">
        <h2>Meu Carrinho</h2>
        <div class="itens"><img class="fcompra" src="./img/2DD-2879-006_vitrine.webp" alt="fcompra">
        <div class="txt"><p> Nome especificando o produto e o nome dele:</p>
        <p > Tamanho do produto</p>
        <p > Estampa/cor do produto</p></div>
        
    </div>

    <div class="frete">
        <h4>Simule frete e prazo de entrega</h4>
        <input class="cep" type="text" placeholder="Digite Aqui seu CEP">
        <input class="calcular" type="submit" value="Calcular">

    </div>
    </div>
    <div class="rcompra">
        <h2>Resumo da Compra</h2>
        <div class="total" >
            <p> Subtotal(x itens):</p> 
            <p> valor </p>
        </div>
        <hr class="lr">
        <div class="total">
            <p> Frete:</p> 
            <p> valor </p>
        </div>
        <hr class="lr">
        <div class="total">
            <p> Valor Total:</p> 
            <p> valor </p>
        </div>
        
        <div class="but">
            <div class="but1"> <button class="f" type="button">Finalizar</button> </div>
        
        <div class="but2">
            <input class="cc" type="submit" value="Continuar Comprando"></div>
   
    </div>
    </div>
</div>
<div class="bloco2"> 
    <h1 class="leve">Aproveite e leve também</h1>
<div class="img"> <div class="it"><img class="i1" src="./img/2DD-2879-006_vitrine.webp" alt="fcompra" width="100%">
    <p>descrição do produto</p><button class="b" type="button">Adicionar ao Carrinho</button></div>
    <div class="it"><img class="i1" src="./img/2DD-2879-006_vitrine.webp" alt="fcompra" width="100%">
        <p>descrição do produto</p>  <button class="b" type="button">Adicionar ao Carrinho</button> </div>
        <div class="it"><img class="i1" src="./img/2DD-2879-006_vitrine.webp" alt="fcompra" width="100%">
            <p>descrição do produto</p><button class="b" type="button">Adicionar ao Carrinho</button></div></div>
</div> 
</main>


<% - include('./partials/footer') %>


