

<% - include('./partials/header') %>

<main>

    <!-- Passo para quando usuário já possui cadastro -->
    <section class="container">
        <div class="formulario1">
            <p class="login">Login Cop Club</p>
            
            <form action="">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
                
                <label for="password">Senha:</label>
                <input type="password" name="password" id="password" placeholder="Digite sua senha">
                
                <input class="submit" type="submit" value="Acessar Conta">
                
            </form>

            <a  id="senha" href="esquecisenha.html">Esqueci minha senha</a>
            
        </div>

    <!-- Para criar conta nova -->
        
        <div class="formulario2">    
            <form action="">
                <p class="criarConta">Criar Conta Cop Club</p>
                <label for="email">Informe seu e-mail</label>
                <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
                <input class="submit" type="submit" value="Prosseguir">
            </form>
        </div>
    </section>
    <div class="contato">

        <p class="redesSociais">Acesse sua conta Cop Club através de suas redes sociais.</p>
        <img src="img/instagram-ar21.svg" class="instagram" alt="logo instagram">
        <img src="/img/FBCapturar.PNG" class="facebook" alt="logo facebook">
        <img src="img/twitter2.PNG" class="twitter" alt="logo twitter">
    </div>
</main>


<% - include('./partials/footer') %>