<% - include('./partials/header') %>

<main>
    <div class="nomeinicial">
        <h1>Cop Club</h1>
        <p> <b>Informações</b> > Pagamento > Recibo</p>
    </div>

    <div class="palavrapagamento">
        <h1>Pagamento</h1>
        <p>Todas as transações são seguras </p>
    </div>

<section class="tiposdepagame">
         <div class="Cartaocredito">
        <input type="radio" id="paypal" required>
        <span class="iconify" data-icon="ant-design:credit-card-filled" data-width="35" data-height="35"></span>
        <p>Cartão de Crédito</p>
      </div>

      <div class="linha">
      </div>


    <div class="Pix">
        <input type="radio" id="paypal" required>
        <span class="iconify" data-icon="ic:baseline-pix" data-width="35" data-height="35"></span>
        <p>Pix</p>
    </div>
    <div class="linha">
    </div>

    <div class="Paypal">
        <input type="radio" id="paypal" required>
        <span class="iconify" data-icon="cib:cc-paypal" data-width="35" data-height="35"></span>
        <p>PayPal</p>
    </div>
    <div class="linha">
    </div>

    <div class="boletobancario">
        <input type="radio" id="paypal" required>
        <span class="iconify" data-icon="icon-park:pay-code-two" data-width="35" data-height="35" ></span>
        <p>Boleto bancário</p>
    </div>
    <div class="linha">
    </div>

</section>

</main>

<% - include('./partials/footer') %>