<% - include('./partials/header') %>

<main>
    <div class="pesquisa">
        <h1>Pesquise Nosso Site</h1>
        <div class="home"> <a href="/" class="hoime">Home></a> </div>


      
    </div>
</main>


<% - include('./partials/footer') %>